/* 顶部导航 */
/* 页面导航 */
.main {
  min-height: 300px;
}
.page-nav .active a {
  color: #2e8ece !important;
}
/* 页脚 */
.footer {
  background: #f8f8f8;
  padding: 25px 0;
}
.footer img {
  width: 100%;
}
