@blue:#2e8ece;
.personal-page{
    .personal-left{
        .list-group{
            li{
                text-indent: 2em;
                &.parent{
                    text-indent: 0;
                    background: #f5f5f5;
                }
            a{
                color: black;
                &:hover{
                    color: @blue;
                    text-decoration: none;
                }
            }
            &.active{
                a{

                    color: #fff;
                }
            }
        }
    }
    }
}