.personal-page .personal-left .list-group li {
  text-indent: 2em;
}
.personal-page .personal-left .list-group li.parent {
  text-indent: 0;
  background: #f5f5f5;
}
.personal-page .personal-left .list-group li a {
  color: black;
}
.personal-page .personal-left .list-group li a:hover {
  color: #2e8ece;
  text-decoration: none;
}
.personal-page .personal-left .list-group li.active a {
  color: #fff;
}
